<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BuildshipImport -->
      <package
            uri="https://github.com/jjstreet/oomph-task-buildshipimport/1.0"
            class="com.jjstreet.oomph.task.buildshipimport.BuildshipImportPackage"
            genModel="model/BuildshipImport.genmodel"/>
   </extension>

</plugin>
